/* Empty. Add your own CSS if you like */

.button.button-kakao {
border-color: transparent;
background-color: #fdeb1d;
color: #433; }
.button.button-kakao.active, .button.button-kakao.activated {
background-color: #ffe300; }

.popup {
width: 80% !important;
height: 80% !important;
background: rgba(255, 255, 255, 1) !important;
}

.intro {
    position: absolute;
    /*width: 200px;
    height: 150px;*/
    margin: -70px 0 0 -111px;
    top: 50%;
    left: 50%;
}

ion-content div.scroll{
  height: 90%; }

.webPage{
  width: 100%;
  height: 100%;
  border: 2px solid #EAAB00;
  padding: 1rem;}
